<?xml version="1.0"?>
<launch>
    <node name="bin_picking" pkg="bin_picking" type="planeDetection" />
    <!-- start rviz -->
    <node pkg="rviz" type="rviz" name="my_rviz"/> 
    <include file="$(find openni_launch)/launch/openni.launch">
        <!-- disable load_driver -->
        <arg name="depth_registration" value="true" />
        <!-- calibration -->
        <arg name="rgb_camera_info_url" value="package://bin_picking/calibration/kinect/rgb.yaml" />
        <arg name="depth_camera_info_url" value="package://bin_picking/calibration/kinect/depth.yaml" />
    </include>
</launch>