<?xml version="1.0"?>
<launch>
    <node name="bin_picking" pkg="bin_picking" type="planeDetection" />
    <arg name="path" default="/home/joana/catkin_ws/src/Bin-picking/bagfiles/" />
    <arg name="bag" default="kinectj6" />
    <!-- <node pkg="rosbag" type="play" name="player" output="screen" args="/home/joana/catkin_ws/src/Bin-picking/bagfiles/kinectj6.bag -l"/> -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg path)$(arg bag).bag -l" />
    <!-- start rviz -->
    <node pkg="rviz" type="rviz" name="my_rviz"/> 
    <include file="$(find openni_launch)/launch/openni.launch">
        <!-- disable load_driver -->
        <arg name="load_driver" value="false" />
        <arg name="depth_registration" value="true" />
        <!-- calibration -->
        <arg name="rgb_camera_info_url" value="package://bin_picking/calibration/rgb.yaml" />
        <arg name="depth_camera_info_url" value="package://bin_picking/calibration/depth.yaml" />
    </include>
</launch>