<?xml version="1.0"?>

<launch>

	<!-- Load the parameters file -->
	<rosparam command="load" file="$(find r_platform)/params/default.yaml"/>


	<node pkg="r_platform" type="r_teleop" name="r_teleop" />
	<node pkg="r_platform" type="decompose_vel" name="decompose_vel" />
	<node pkg="r_platform" type="r_client_node" name="r_client_node" />
	<node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node"/>
	<node pkg="odom" type="odom_node" name="odom_node"/>



</launch>
