<?xml version="1.0" ?>
<robot 
    xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="length" value="0.1640" />
    <xacro:property name="radius1" value="0.020" />
    <xacro:property name="radius2" value="0.007" />
    <xacro:property name="hlength" value="0.050" />
    <xacro:macro name="bin_picking_gripper" params="prefix">
        <link name="${prefix}base_link">
            <visual>
                <!-- <origin rpy="0 0 0" xyz="0 0 0" /> -->
                <origin rpy="0 ${pi/2} 0" xyz="0 -0.035 0.035" />
                <geometry>
                    <mesh filename="package://bin_picking/meshes/gripper.STL" />
                </geometry>
                <material name="">
                <color rgba="0.45 0.45 0.45 1.0"/>
                </material>
            </visual>
            <collision>
                <!-- <origin rpy="0 0 0" xyz="-0.16250 -0.03750 -0.03750"/> -->
                <geometry>
                    <mesh filename="package://bin_picking/meshes/gripper.STL" />
                </geometry>
            </collision>
        </link>

        <link name="${prefix}tool_tip" />

        <joint name="${prefix}base_link-${prefix}tool_tip" type="fixed">
            <origin xyz="${length} 0 0" rpy="0 ${pi/2} 0" />
            <parent link="${prefix}base_link" />
            <child link="${prefix}tool_tip" />
        </joint>
    </xacro:macro>
</robot>