<?xml version="1.0" ?>
<robot 
    xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- include the manipulator xacro -->
    <xacro:include filename="$(find bin_picking)/urdf/binpicking_robot_macro.xacro"/>
    <!-- include the kinetic xacro -->
    <xacro:include filename="$(find hector_xacro_tools)/urdf/inertia_tensors.urdf.xacro"/>
    <xacro:include filename="$(find hector_sensors_description)/urdf/kinect_camera.urdf.xacro" />

    <!-- macro defining the whole robot -->
    <xacro:macro name="bin_picking" params="prefix">
        <xacro:bin_picking_manipulator prefix="${prefix}" />
        <xacro:kinect_camera name="camera" parent="${prefix}robot_link_4">

             <!-- joana convert euler_from_quaternion 1-->
            <!-- <origin
                xyz="0.273824339688 0.11318137131 -0.0197138711695"
                rpy="1.43637243915 1.55845880529 2.99165474735" /> -->

             <!-- joana convert euler_from_quaternion 2-->
            <origin
                xyz="0.287897942007 0.113658162424 -0.0172542425314"
                rpy="1.30973391552 1.5275728369 2.88949861591" />

        </xacro:kinect_camera>
    </xacro:macro>
</robot>