<?xml version="1.0" ?>
<robot 
    xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="bin_picking_sensor" params="prefix">

        <link name="${prefix}base_link">
            <visual>
                <origin rpy="0 ${-pi/2} ${-pi}" xyz="-0.01215 0.0135 -0.0541" />
                <geometry>
                    <mesh filename="package://bin_picking/meshes/sensor.stl" />
                </geometry>
                <material name="">
                <color rgba="0.0 0.3 0.9 1.0"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://bin_picking/meshes/sensor.stl" />
                </geometry>
            </collision>
        </link>

        <link name="${prefix}optical_frame" />

        <joint name="${prefix}base_link-${prefix}optical_frame" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${prefix}base_link" />
            <child link="${prefix}optical_frame" />
        </joint>
    </xacro:macro>
</robot>